In [222]:
import pandas as pd

# 读取AAPL.csv文件
file_path = "./stock_data/AAPL.csv" # 文件路径
df = pd.read_csv(file_path)
# 输出读取的数据量
print("成功读取totalpc.csv文件，数据已存入名为df的dataframe中。")
print("数据量：")
print(df.shape)

成功读取totalpc.csv文件，数据已存入名为df的dataframe中。
数据量：
(10669, 7)

In [230]:
from fredapi import Fred
fred = Fred(api_key='b788b5f2a26ec3ba6ba6de1559d810da')
stir_data = fred.get_series('FEDFUNDS')
stir = pd.DataFrame(stir_data)
stir.reset_index(drop=False, inplace=True)
stir.rename(columns={'index': 'Date'})

In [260]:
from fredapi import Fred
import pandas as pd

fred = Fred(api_key='b788b5f2a26ec3ba6ba6de1559d810da')
stir_data = fred.get_series('FEDFUNDS')
stir = pd.DataFrame({'Date': stir_data.index, 'STIR': stir_data.values})
stir.rename(columns={'index': 'Date'}, inplace=True)

In [263]:
stir

          Date  STIR
0   1954-07-01  0.80
1   1954-08-01  1.22
2   1954-09-01  1.07
3   1954-10-01  0.85
4   1954-11-01  0.83
..         ...   ...
820 2022-11-01  3.78
821 2022-12-01  4.10
822 2023-01-01  4.33
823 2023-02-01  4.57
824 2023-03-01  4.65

[825 rows x 2 columns]

In [243]:
my_dataframe['index']

Timestamp('1954-07-01 00:00:00')

In [225]:
df['Date']

0        1980-12-12
1        1980-12-15
2        1980-12-16
3        1980-12-17
4        1980-12-18
            ...
10664    2023-03-31
10665    2023-04-03
10666    2023-04-04
10667    2023-04-05
10668    2023-04-06
Name: Date, Length: 10669, dtype: object

In [242]:
df['Date'][0]

Timestamp('1980-12-12 00:00:00')

In [219]:
path = "./stock_data/VIX_History.csv"
vix = pd.read_csv(path)

# 将日期列转换为日期类型
vix['DATE'] = pd.to_datetime(vix['DATE'], format='%m/%d/%Y')

vix = vix[['DATE', 'CLOSE']].rename(columns={'DATE': 'Date', 'CLOSE': 'VIX'})

In [226]:
vix['Date']

0      1990-01-02
1      1990-01-03
2      1990-01-04
3      1990-01-05
4      1990-01-08
          ...
8378   2023-03-30
8379   2023-03-31
8380   2023-04-03
8381   2023-04-04
8382   2023-04-05
Name: Date, Length: 8383, dtype: datetime64[ns]

In [224]:
df = pd.merge(df, vix, on='Date', how='left')

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
type(vix['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
import pandas as pd

# 创建日期范围
start_date = '2018-01-02'
end_date = '2018-12-27'
date_range = pd.date_range(start=start_date, end=end_date, freq='D')

# 创建DataFrame并设置数据为0
vix = pd.DataFrame(date_range, columns=['Date'])
vix['value'] = 1

# 打印DataFrame
vix

          Date  value
0   2018-01-02      1
1   2018-01-03      1
2   2018-01-04      1
3   2018-01-05      1
4   2018-01-06      1
..         ...    ...
355 2018-12-23      1
356 2018-12-24      1
357 2018-12-25      1
358 2018-12-26      1
359 2018-12-27      1

[360 rows x 2 columns]

In [ ]:
path = ".\\data\\VIX_History.csv"
vix = pd.read_csv(path)

# 将日期列转换为日期类型
vix['DATE'] = pd.to_datetime(vix['DATE'], format='%m/%d/%Y')

In [ ]:
vix

           DATE   OPEN   HIGH    LOW  CLOSE
0    2000-01-03  24.36  26.15  23.98  24.21
1    2000-01-04  24.94  27.18  24.80  27.01
2    2000-01-05  27.98  29.00  25.85  26.41
3    2000-01-06  26.68  26.71  24.70  25.73
4    2000-01-07  25.14  25.17  21.72  21.72
...         ...    ...    ...    ...    ...
5733 2022-10-10  32.93  33.99  32.05  32.45
5734 2022-10-11  33.56  34.43  32.45  33.63
5735 2022-10-12  33.54  34.53  33.11  33.57
5736 2022-10-13  33.60  33.87  31.63  31.94
5737 2022-10-14  31.89  32.98  31.14  32.02

[5738 rows x 5 columns]

In [ ]:
vix= vix[['DATE', 'CLOSE']].rename(columns={'DATE': 'Date', 'CLOSE': 'VIX'})

In [ ]:
df = pd.merge(df, vix, on='Date', how='left')

In [ ]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,value,VIX
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,NaN,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,NaN,NaN
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,NaN,NaN
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,NaN,NaN
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10663,2023-03-30,161.529999,162.470001,161.270004,162.360001,162.360001,49501700,NaN,NaN
10664,2023-03-31,162.440002,165.000000,161.910004,164.899994,164.899994,68694700,NaN,NaN
10665,2023-04-03,164.270004,166.289993,164.220001,166.169998,166.169998,56976200,NaN,NaN
10666,2023-04-04,166.600006,166.839996,165.110001,165.630005,165.630005,46278300,NaN,NaN
10667,2023-04-05,164.740005,165.050003,161.800003,163.759995,163.759995,51457200,NaN,NaN

In [ ]:
# 使用日期作为索引
df.set_index('DATE', inplace=True)

# 使用 loc 方法筛选出指定日期范围内的数据
vix_close = df.loc[start_date:end_date, 'CLOSE'].tolist()

In [ ]:
df[df['Date'] == '2018-12-27']

,Date,Open,High,Low,Close,Adj Close,Volume,value,VIX
9592,2018-12-27,38.959999,39.192501,37.517502,39.037498,37.620613,212468400,1.0,29.96

In [ ]:
merged = pd.merge(df, vix, on='Date', how='left')

In [ ]:
s = pd.Series([2, 10, 0], name='A')

b = pd.DataFrame({'A': [2, 0, 0],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})

In [ ]:
s

0     2
1    10
2     0
Name: A, dtype: int64

In [ ]:
b

   A  B  C
0  2  4  7
1  0  5  8
2  0  6  9

In [ ]:
path = ".\\data\\VIX_History.csv"
df = pd.read_csv(path)

# 将日期列转换为日期类型
df['DATE'] = pd.to_datetime(df['DATE'], format='%m/%d/%Y')

# 使用日期作为索引
df.set_index('DATE', inplace=True)

# 使用 loc 方法筛选出指定日期范围内的数据
vix_close = df.loc[start_date:end_date, 'CLOSE'].tolist()

   A  B  C
0  2  4  7
1  0  5  8
2  0  6  9

In [ ]:
import pandas as pd

# 创建一个Series

# 创建一个DataFrame

# 根据'A'列合并Series和DataFrame
result = pd.merge(df, s, on='A')

print(result)

KeyError: 'A'

In [ ]:
df = pd.merge(df, vix, on='Date', how='left')

In [ ]:
df[df['Date'] == '2018-12-27']

,Date,Open,High,Low,Close,Adj Close,Volume,value
9592,2018-12-27,38.959999,39.192501,37.517502,39.037498,37.620613,212468400,1.0

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume, value]
Index: []

In [ ]:
merged

,Date,Open,High,Low,Close,Adj Close,Volume,value
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,NaN
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,NaN
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,NaN
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,NaN
...,...,...,...,...,...,...,...,...
10663,2023-03-30,161.529999,162.470001,161.270004,162.360001,162.360001,49501700,NaN
10664,2023-03-31,162.440002,165.000000,161.910004,164.899994,164.899994,68694700,NaN
10665,2023-04-03,164.270004,166.289993,164.220001,166.169998,166.169998,56976200,NaN
10666,2023-04-04,166.600006,166.839996,165.110001,165.630005,165.630005,46278300,NaN
10667,2023-04-05,164.740005,165.050003,161.800003,163.759995,163.759995,51457200,NaN

In [ ]:
df.loc[merged, 'value']

KeyError: 'value'

In [ ]:
merged[merged['value'] != 'nan']

,Date,Open,High,Low,Close,Adj Close,Volume,value
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600,NaN
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800,NaN
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000,NaN
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600,NaN
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600,NaN
...,...,...,...,...,...,...,...,...
10663,2023-03-30,161.529999,162.470001,161.270004,162.360001,162.360001,49501700,NaN
10664,2023-03-31,162.440002,165.000000,161.910004,164.899994,164.899994,68694700,NaN
10665,2023-04-03,164.270004,166.289993,164.220001,166.169998,166.169998,56976200,NaN
10666,2023-04-04,166.600006,166.839996,165.110001,165.630005,165.630005,46278300,NaN
10667,2023-04-05,164.740005,165.050003,161.800003,163.759995,163.759995,51457200,NaN

In [ ]:
merged['value'][0]

nan

In [ ]:
type(vix['value'][0])

numpy.int64

In [ ]:
import pandas as pd

# 创建示例数据
data1 = {'Date': ['01/01/2012', '01/02/2012', '01/03/2012', '01/04/2012'],
         'Value1': [1, 2, 3, 4]}
data2 = {'Date': ['01/01/2012', '01/03/2012', '01/03/2018'],
         'Value2': [10, 30,20]}

p1 = pd.DataFrame(data1)
p2 = pd.DataFrame(data2)

In [ ]:
p1

         Date  Value1
0  01/01/2012       1
1  01/02/2012       2
2  01/03/2012       3
3  01/04/2012       4

In [ ]:
p2

         Date  Value2
0  01/01/2012      10
1  01/03/2012      30
2  01/03/2018      20

In [ ]:
# 使用 merge 函数合并两个 DataFrame
merged = pd.merge(p1, p2, on='Date', how='left')

In [ ]:
merged

         Date  Value1  Value2
0  01/01/2012       1    10.0
1  01/02/2012       2     NaN
2  01/03/2012       3    30.0
3  01/04/2012       4     NaN

In [ ]:
merged['Value1'] = merged['Value1'].fillna(merged['Value2'])

In [ ]:
merged

         Date  Value1  Value2
0  01/01/2012       1    10.0
1  01/02/2012       2     NaN
2  01/03/2012       3    30.0
3  01/04/2012       4     NaN

In [ ]:
# 将 p2 的 value 列的值合并到 p1 中去

In [ ]:
# 删除多余的 Value2 列
merged = merged.drop('Value2', axis=1)

         Date  Value1
0  01/01/2012       1
1  01/02/2012       2
2  01/03/2012       3
3  01/04/2012       4

In [ ]:
merged

         Date  Value1
0  01/01/2012       1
1  01/02/2012       2
2  01/03/2012       3
3  01/04/2012       4

In [ ]:
import pandas as pd

# 创建示例 DataFrame
df = pd.DataFrame({'Data': pd.date_range(start='01/01/2012', end='01/05/2012')})

# 将 'Data' 列转换为日期类型
df['Data'] = pd.to_datetime(df['Data'])

# 使用布尔索引检索日期为 "01/01/2012" 的数据
result = df[df['Data'] == '2012-01-01']

# 打印检索结果
print(result)

        Data
0 2012-01-01

In [ ]:
result

        Data
0 2012-01-01

In [ ]:
# 导入 pandas
import pandas as pd

# 创建示例 DataFrame
data = {'A': [1, 2, 3], 'B': [4, None, 6], 'C': [None, 8, 9]}
df = pd.DataFrame(data)

# 判断某一行的 value 列是否为空值
row_index = 0  # 指定行的索引
if pd.isna(df.loc[row_index, 'value']):
    print("该行的 value 列为空值")
else:
    print("该行的 value 列不为空值")

KeyError: 'value'

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame(dict(age=[5, 6, np.NaN],
                       born=[pd.NaT, pd.Timestamp('1939-05-27'),
                             pd.Timestamp('1940-04-25')],
                       name=['Alfred', 'Batman', ''],
                       toy=[None, 'Batmobile', 'Joker']))

In [ ]:
df

   age       born    name        toy
0  5.0        NaT  Alfred       None
1  6.0 1939-05-27  Batman  Batmobile
2  NaN 1940-04-25              Joker

In [ ]:
df

     age   born   name    toy
0  False   True  False   True
1  False  False  False  False
2   True  False  False  False

   age       born name    toy
2  NaN 1940-04-25       Joker