In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import talib as ta
from fredapi import Fred

# Download Apple stock data from its earliest day up to present
apple_data = yf.download('AAPL', start='1970-01-01', end=None)
apple_data.rename(columns={"Adj Close": "AdjClose"}, inplace=True)

# Print the first few rows of the data
print(apple_data.head())
print(apple_data.tail())

[*********************100%***********************]  1 of 1 completed
                Open      High       Low     Close  AdjClose     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348  0.099722  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652  0.094519  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723  0.087582  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513  0.089749   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862  0.092351   73449600
                  Open        High         Low       Close    AdjClose  \
Date
2023-03-30  161.529999  162.470001  161.270004  162.360001  162.360001
2023-03-31  162.440002  165.000000  161.910004  164.899994  164.899994
2023-04-03  164.270004  166.289993  164.220001  166.169998  166.169998
2023-04-04  166.600006  166.839996  165.110001  165.630005  165.630005
2023-04-05  164.740005  165.050003  161.800003  163.759995  163.759995

              Volume
Date
2023-03-30  49501700
2023-03-31  68694700
2023-04-03  56976200
2023-04-04  46278300
2023-04-05  51457200

In [6]:
apple_data.tail()

,Open,High,Low,Close,AdjClose,Volume
Date,,,,,,
2023-03-30,161.529999,162.470001,161.270004,162.360001,162.360001,49501700
2023-03-31,162.440002,165.000000,161.910004,164.899994,164.899994,68694700
2023-04-03,164.270004,166.289993,164.220001,166.169998,166.169998,56976200
2023-04-04,166.600006,166.839996,165.110001,165.630005,165.630005,46278300
2023-04-05,164.740005,165.050003,161.800003,163.759995,163.759995,51457200